.left
  fl()
  relative()
  width 50%
  border 1px solid yellow
  height 300px
.hover-scale
  transition-duration(2s)
  width 200px
  height 200px
  margin auto
  text-align center
  background-color red
  p
    margin auto
    padding 0
    margin 0
    line-height 30px 
    font-size 20px
    display  table-cell
    text-align center
    vertical-align middle
    ellipsis(false)
    width 100px
    height 100px
    background-color green

  &:hover
    width 300px
.another
  fl()
  relative()
