extends templates/master

block vars

block title
    | Home - Danone

block styles

block content
  .container.main-content
      .left 
        .hover-scale
          p 
            | aafd lsf kkkk kkk  sdfd  dfad fsdfs
      .another
        | another information

