@font-face
    font-family            "open_sans_condensedbold"
    src                    url("OpenSans-CondBold-webfont.eot")
    src                    url("OpenSans-CondBold-webfont.eot?#iefix") format("embedded-opentype"),
                        url("OpenSans-CondBold-webfont.woff") format("woff"),
                        url("OpenSans-CondBold-webfont.ttf") format("truetype"),
                        url("OpenSans-CondBold-webfont.svg#open_sans_condensedbold") format("svg"),
                        url(http://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xPX7z5o44AuUJ1t1avdkNXJ_v5H-gcmDugi2HQeB0BPm.woff2) format("woff2")
    font-weight            normal
    font-style            normal

// @font-face
//     font-family            "open_sanscondensed_light"
//     src                    url("OpenSans-CondLight-webfont.eot")
//     src                    url("OpenSans-CondLight-webfont.eot?#iefix") format("embedded-opentype"),
//                         url("OpenSans-CondLight-webfont.woff") format("woff"),
//                         url("OpenSans-CondLight-webfont.ttf") format("truetype"),
//                         url("OpenSans-CondLight-webfont.svg#open_sanscondensed_light") format("svg"),
//                         url(http://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xPX7z5o44AuUJ1t1avdkNXJ_v5H-gcmDugi2HQeB0BPm.woff2) format("woff2")
//     font-weight            normal
//     font-style            normal

// @font-face
//     font-family            "open_sansCnLtIt"
//     src                    url("OpenSans-CondLightItalic-webfont.eot")
//     src                    url("OpenSans-CondLightItalic-webfont.eot?#iefix") format("embedded-opentype"),
//                         url("OpenSans-CondLightItalic-webfont.woff") format("woff"),
//                         url("OpenSans-CondLightItalic-webfont.ttf") format("truetype"),
//                         url("OpenSans-CondLightItalic-webfont.svg#open_sansCnLtIt") format("svg"),
//                         url(http://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xPX7z5o44AuUJ1t1avdkNXJ_v5H-gcmDugi2HQeB0BPm.woff2) format("woff2")
//     font-weight            normal
//     font-style            normal

@font-face
    font-family            "roboto_slabbold"
    src                    url("RobotoSlab-Bold-webfont.eot")
    src                    url("RobotoSlab-Bold-webfont.eot?#iefix") format("embedded-opentype"),
                        url("RobotoSlab-Bold-webfont.woff") format("woff"),
                        url("RobotoSlab-Bold-webfont.ttf") format("truetype"),
                        url("RobotoSlab-Bold-webfont.svg#roboto_slabbold") format("svg"),
                        url(http://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xPX7z5o44AuUJ1t1avdkNXJ_v5H-gcmDugi2HQeB0BPm.woff2) format("woff2")
    font-weight            normal
    font-style            normal
    
@font-face
    font-family            "roboto_slablight"
    src                    url("RobotoSlab-Light-webfont.eot")
    src                    url("RobotoSlab-Light-webfont.eot?#iefix") format("embedded-opentype"),
                        url("RobotoSlab-Light-webfont.woff") format("woff"),
                        url("RobotoSlab-Light-webfont.ttf") format("truetype"),
                        url("RobotoSlab-Light-webfont.svg#roboto_slablight") format("svg"),
                        url(http://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJUExlR2MysFCBK8OirNw2kM.woff2) format("woff2")
    font-weight            normal
    font-style            normal

@font-face
    font-family            "roboto_slabregular"
    src                    url("RobotoSlab-Regular-webfont.eot")
    src                    url("RobotoSlab-Regular-webfont.eot?#iefix") format("embedded-opentype"),
                        url("RobotoSlab-Regular-webfont.woff") format("woff"),
                        url("RobotoSlab-Regular-webfont.ttf") format("truetype"),
                        url("RobotoSlab-Regular-webfont.svg#roboto_slabregular") format("svg"),
                        url(http://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37ZvZraR2Tg8w2lzm7kLNL0-w.woff2) format("woff2")
    font-weight            normal
    font-style            normal

@font-face
    font-family            "roboto_slabthin"
    src                    url("RobotoSlab-Thin-webfont.eot")
    src                    url("RobotoSlab-Thin-webfont.eot?#iefix") format("embedded-opentype"),
                        url("RobotoSlab-Thin-webfont.woff") format("woff"),
                        url("RobotoSlab-Thin-webfont.ttf") format("truetype"),
                        url("RobotoSlab-Thin-webfont.svg#roboto_slabthin") format("svg"),
                        url(http://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37ZvZraR2Tg8w2lzm7kLNL0-w.woff2) format("woff2")
    font-weight            normal
    font-style            normal

// @font-face
//     font-family            "Open Sans Condensed"
//     font-style            normal
//     font-weight            700
//     src                    local("styles/Open Sans Condensed Bold"), local("styles/OpenSans-CondensedBold"), url(http://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xPX7z5o44AuUJ1t1avdkNXJ_v5H-gcmDugi2HQeB0BPm.woff2) format("woff2")
//     unicode-range        U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F

// @font-face
//     font-family            "Open Sans Condensed"
//     font-style            normal
//     font-weight            700
//     src                    local("styles/Open Sans Condensed Bold"), local("styles/OpenSans-CondensedBold"), url(http://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xLLF6RfyvCYuuChpfFHKAr5_v5H-gcmDugi2HQeB0BPm.woff2) format("woff2")
//     unicode-range        U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116

// @font-face
//     font-family            "Open Sans Condensed"
//     font-style            normal
//     font-weight            700
//     src                    local("styles/Open Sans Condensed Bold"), local("styles/OpenSans-CondensedBold"), url(http://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xIbCcO5IWJIaQ5MtZqYsHUp_v5H-gcmDugi2HQeB0BPm.woff2) format("woff2")
//     unicode-range        U+1F00-1FFF

// @font-face
//     font-family            "Open Sans Condensed"
//     font-style            normal
//     font-weight            700
//     src                    local("styles/Open Sans Condensed Bold"), local("styles/OpenSans-CondensedBold"), url(http://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xHQ3DnTiPFZC1qn696_nOv9_v5H-gcmDugi2HQeB0BPm.woff2) format("woff2")
//     unicode-range        U+0370-03FF

// @font-face
//     font-family            "Open Sans Condensed"
//     font-style            normal
//     font-weight            700
//     src                    local("styles/Open Sans Condensed Bold"), local("styles/OpenSans-CondensedBold"), url(http://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xLzZT6Zu7Z-BZJGL0hT-UJV_v5H-gcmDugi2HQeB0BPm.woff2) format("woff2")
//     unicode-range        U+0102-0103, U+1EA0-1EF1, U+20AB

// @font-face
//     font-family            "Open Sans Condensed"
//     font-style            normal
//     font-weight            700
//     src                    local("styles/Open Sans Condensed Bold"), local("styles/OpenSans-CondensedBold"), url(http://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xPJmhJzg6kSQTtrFMk-8lT5_v5H-gcmDugi2HQeB0BPm.woff2) format("woff2")
//     unicode-range        U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF

// @font-face
//     font-family            "Open Sans Condensed"
//     font-style            normal
//     font-weight            700
//     src                    local("styles/Open Sans Condensed Bold"), local("styles/OpenSans-CondensedBold"), url(http://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xIgEy7irt_A5K-aDq9kG7DF_v5H-gcmDugi2HQeB0BPm.woff2) format("woff2")
//     unicode-range        U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000

// @font-face
//     font-family            "Roboto Slab"
//     font-style            normal
//     font-weight            300
//     src                    local("styles/Roboto Slab Light"), local("styles/RobotoSlab-Light"), url(http://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJUExlR2MysFCBK8OirNw2kM.woff2) format("woff2")
//     unicode-range            U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F

// @font-face
//     font-family            "Roboto Slab"
//     font-style            normal
//     font-weight            300
//     src                    local("styles/Roboto Slab Light"), local("styles/RobotoSlab-Light"), url(http://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJWdsm03krrxlabhmVQFB99s.woff2) format("woff2")
//     unicode-range        U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116

// @font-face
//     font-family            "Roboto Slab"
//     font-style            normal
//     font-weight            300
//     src                    local("styles/Roboto Slab Light"), local("styles/RobotoSlab-Light"), url(http://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJSJ0caWjaSBdV-xZbEgst_k.woff2) format("woff2")
//     unicode-range        U+1F00-1FFF

// @font-face
//     font-family            "Roboto Slab"
//     font-style            normal
//     font-weight            300
//     src                    local("styles/Roboto Slab Light"), local("styles/RobotoSlab-Light"), url(http://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJWMSHb9EAJwuSzGfuRChQzQ.woff2) format("woff2")
//     unicode-range        U+0370-03FF

// @font-face
//     font-family            "Roboto Slab"
//     font-style            normal
//     font-weight            300
//     src                    local("styles/Roboto Slab Light"), local("styles/RobotoSlab-Light"), url(http://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJepRBTtN4E2_qSPBnw6AgMc.woff2) format("woff2")
//     unicode-range        U+0102-0103, U+1EA0-1EF1, U+20AB

// @font-face
//     font-family            "Roboto Slab"
//     font-style            normal
//     font-weight            300
//     src                    local("styles/Roboto Slab Light"), local("styles/RobotoSlab-Light"), url(http://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJdDnm4qiMZlH5rhYv_7LI2Y.woff2) format("woff2")
//     unicode-range        U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF

// @font-face
//     font-family            "Roboto Slab"
//     font-style            normal
//     font-weight            300
//     src                    local("styles/Roboto Slab Light"), local("styles/RobotoSlab-Light"), url(http://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJZ7-ASEDocFpVYx1Gz4aSTw.woff2) format("woff2")
//     unicode-range        U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000

// @font-face
//     font-family            "Roboto Slab"
//     font-style            normal
//     font-weight            400
//     src                    local("styles/Roboto Slab Regular"), local("styles/RobotoSlab-Regular"), url(http://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37ZvZraR2Tg8w2lzm7kLNL0-w.woff2) format("woff2")
//     unicode-range        U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F

// @font-face
//     font-family            "Roboto Slab"
//     font-style            normal
//     font-weight            400
//     src                    local("styles/Roboto Slab Regular"), local("styles/RobotoSlab-Regular"), url(http://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37Zl4sYYdJg5dU2qzJEVSuta0.woff2) format("woff2")
//     unicode-range        U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116

// @font-face
//     font-family            "Roboto Slab"
//     font-style            normal
//     font-weight            400
//     src                    local("styles/Roboto Slab Regular"), local("styles/RobotoSlab-Regular"), url(http://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37ZlBW26QxpSj-_ZKm_xT4hWw.woff2) format("woff2")
//     unicode-range        U+1F00-1FFF

// @font-face
//     font-family            "Roboto Slab"
//     font-style            normal
//     font-weight            400
//     src                    local("styles/Roboto Slab Regular"), local("styles/RobotoSlab-Regular"), url(http://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37Zgt_Rm691LTebKfY2ZkKSmI.woff2) format("woff2")
//     unicode-range        U+0370-03FF

// @font-face
//     font-family            "Roboto Slab"
//     font-style            normal
//     font-weight            400
//     src                    local("styles/Roboto Slab Regular"), local("styles/RobotoSlab-Regular"), url(http://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37ZtDiNsR5a-9Oe_Ivpu8XWlY.woff2) format("woff2")
//     unicode-range        U+0102-0103, U+1EA0-1EF1, U+20AB

// @font-face
//     font-family            "Roboto Slab"
//     font-style            normal
//     font-weight            400
//     src                    local("styles/Roboto Slab Regular"), local("styles/RobotoSlab-Regular"), url(http://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37ZqE8kM4xWR1_1bYURRojRGc.woff2) format("woff2")
//     unicode-range        U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF

// @font-face
//     font-family            "Roboto Slab"
//     font-style            normal
//     font-weight            400
//     src                    local("styles/Roboto Slab Regular"), local("styles/RobotoSlab-Regular"), url(http://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37ZpQV2lvL5Ba9FjAYK6Lx0Qk.woff2) format("woff2")
//     unicode-range        U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000