// ANIMATIONS

$fast-transition =        0.3s all ease-in-out
$slow-transition =        0.8s all ease-in-out

// COLOURS

$another-random-colour = #d0cec7

$black =                #000000

$blue1 =                #ebf0f8
$blue2 =                #95c4d4
$blue3 =                #5ebee7
$blue4 =                #4a9cc0
$blue5 =                #4198c1
$blue6 =                #026b98
$blue--lightest =        #ecf9ff
$shit-designer-blue =    #d8dde6
$really-shit-designer =    #bfdce5

$cream =                #fefaf0

$facebook =                #3b5598

$gold--lightest =        #f2ede1
$gold--lighter =        #eeece0
$gold--light =            #d3c091
$gold--dark =            #a9986f

$green--lightest =        #f3fef2
$green--light =            #9fd399
$green--dark =            #76bb6e

$yet-another-grey =        #f5f5f5
$and-another-grey =        #eeeeee
$grey--lightest =        #e8e8e8
$grey--lighter =        #acacac
$grey--light =            #787878
$grey--dark =            #464646
$another-fucking-grey =    #d8d8d8

$purple--light =        #6a90d2
$purple--dark =            #1a438b

$twitter =                #12afe5

$white =                #ffffff

$yet-another-yellow =    #fef7ec
$yellow--lightest =        #f0cd41
$yellow--light =        #fabf6c
$yellow--dark =            #f4ad4a

$body-background =        $white
$body-text-colour =        $grey--dark
$headings-colour =        $black

// LAYOUT

$base-spacing-unit =    20px
$border-radius =        0.25em

$small-bp =                "(min-width: 320px)"
$small-bp-retina =        "(min-width: 640px) and (-webkit-min-device-pixel-ratio: 2) and (min--moz-device-pixel-ratio: 2) and (-o-min-device-pixel-ratio: 2/1) and (min-device-pixel-ratio: 2) and (min-resolution: 192dpi) and (min-resolution: 2dppx)"
$medium-bp =            "(min-width: 768px)"
$large-bp =                "(min-width: 1280px)"

// TYPOGRAPHY

@import                    "fonts"

$body-font =            Arial, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, "Lucida Grande", sans-serif
$sans-serif-font =        "open_sans_condensedbold", Arial, sans-serif
$serif-font =            "roboto_slabregular", Arial, serif
$headings-font =        $body-font
$monospace-font =        Menlo, Consolas